@model IEnumerable<JobSeed.Models.JobStatusListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Job Status</h2>

<body style="background-color:#FFF5EE;">
    <h2 class="text-center">Your Documents</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    @if (TempData.ContainsKey("SaveResult"))
    {
        <div class="alert alert-success fade in" role="alert">
            @ViewBag.SaveResult
            <button type="button" class="close" data-dismiss="alert">
                <span>&times;</span>
            </button>
            @TempData["SaveResult"]
        </div>
    }
    <table class="table">

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Job)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.CreatedUtc)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Job)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedUtc)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.StatusId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.StatusId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.StatusId }) |
                </td>
            </tr>
        }
    </table>
</body>
