@model IEnumerable<JobSeed.Models.DocumentListItem>

@{
    ViewBag.Title = "Index";
}

<body style="background-color:#FFF5EE;">
    <h2 class="text-center">Your Documents</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    @if (TempData.ContainsKey("SaveResult"))
    {
        <div class="alert alert-success fade in" role="alert">
            @ViewBag.SaveResult
            <button type="button" class="close" data-dismiss="alert">
                <span>&times;</span>
            </button>
            @TempData["SaveResult"]
        </div>
    }
    <table class="table table-bordered table-striped">
        border-collapse: collapse;
        width: 100%;

        th, td {
        text-align: left;
        padding: 8px;
        }

        tr:nth-child(even) {
        background-color: #BC8F8F;
        }
        <thread>

        </thread>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DocumentId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DocumentType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DocumentAdded)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DocSubmitted)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JobId)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.DocumentId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.DocumentId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.DocumentId }) |
                </td>
            </tr>
        }
    </table>
</body>
